.o_helpdesk_dashboard_kanban {
    .o_kanban_record {
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
}

.o_helpdesk_team_kanban {
    .o_kanban_record {
        border-radius: 0.5rem;
    }
}
